@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @foreach (var server in Model.WakeOnLanServers)
    {
        <h2>@server.Label</h2>
        <h3>@server.MAC</h3>

        <p>
            <h3>@server.IP</h3>
            <span>Host is </span>
            <span style="font-weight: bold; color: @(server.IsServerUp ? "green" : "red")">@(server.IsServerUp ? "UP" : "DOWN")</span>
            @if (!server.IsServerUp)
            {
                <form style="display: inline" asp-route-mac="@server.MAC" method="post">
                    <button class="btn btn-success">Start</button>
                </form>
            }            
        </p>

        if (@server.IsServerUp && @server.Port != 0)
        {
            <p>
                <span>API is </span>
                <span style="font-weight: bold; color: @(server.IsApiUp ? "green" : "red")">@(server.IsApiUp ? "UP" : "DOWN")</span>
            </p>        

            @foreach (var service in server.Services)
            {
                <p style="display: inline">
                    <span>Service '@service.Label' is </span>
                    <span style="font-weight: bold; color: @(service.IsUp ? "green" : "red")">@(service.IsUp ? "UP" : "DOWN")</span>
                    @if (server.IsApiUp && !service.IsUp)
                    {
                        <form style="display: inline" asp-route-ip="@server.IP" asp-route-port="@server.Port" asp-route-serviceLabel="@service.Label" method="post">
                            <button class="btn btn-success">Start</button>
                        </form>
                    }
                </p>  
            }
        }

        <hr/>
    }
</div>
