@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @foreach (var server in Model.WakeOnLanServers)
    {
        <h2>@server.Label</h2>
        <h3>@server.MAC</h3>

        <div class="paragraph">
            <h3>@server.IP</h3>
            <span>Host is </span>
            <span style="font-weight: bold; color: @(server.IsServerUp ? "green" : "red")">@(server.IsServerUp ? "UP" : "DOWN")</span>
            @if (!server.IsServerUp)
            {
                <form style="display: inline" asp-route-mac="@server.MAC" asp-route-mode="start" method="post">
                    <button class="btn btn-success">Start</button>
                </form>
            }
            else if (@server.Port != 0)           
            {
                <form style="display: inline" asp-route-ip="@server.IP" asp-route-port="@server.Port" asp-route-mode="stop" asp-route-serviceLabel="wol" method="post">
                    <button class="btn btn-danger" onclick="return confirm('Are you sure ?')">Stop</button>
                </form>
            }
        </div>

        if (@server.IsServerUp && @server.Port != 0)
        {
            <div class="paragraph">
                <span>API is </span>
                <span style="font-weight: bold; color: @(server.IsApiUp ? "green" : "red")">@(server.IsApiUp ? "UP" : "DOWN")</span>
            </div>        

            @foreach (var service in server.Services)
            {
                <div class="paragraph">
                    <span>Service '@service.Label' is </span>
                    <span style="font-weight: bold; color: @(service.IsUp ? "green" : "red")">@(service.IsUp ? "UP" : "DOWN")</span>
                    @if (server.IsApiUp)
                    {
                        if (!service.IsUp)
                        {
                            <form style="display: inline" asp-route-ip="@server.IP" asp-route-port="@server.Port" asp-route-mode="start" asp-route-serviceLabel="@service.Label" method="post">
                                <button class="btn btn-success">Start</button>
                            </form>                            

                        }
                        else
                        {
                            <form style="display: inline" asp-route-ip="@server.IP" asp-route-port="@server.Port" asp-route-mode="stop" asp-route-serviceLabel="@service.Label" method="post">
                                <button class="btn btn-danger" onclick="return confirm('Are you sure ?')">Stop</button>
                            </form>
                        }
                    }
                </div>  
            }
        }

        <hr/>
    }
</div>
