@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table class="table">
        <tbody class="tbody">
            @foreach (var server in Model.WakeOnLanServers)
            {
                <tr class="separator"><td colspan="4"><img src="/wol.png" alt="wol" /></td></tr>
                <tr><td colspan="4"><h2>@server.Label</h2></td></tr>
                <tr><td colspan="4" class="title"><span>@server.MAC</span></td></tr>

                @if (!string.IsNullOrEmpty(server.HostName) && !string.IsNullOrEmpty(server.IP))
                {
                    <tr><td colspan="4" class="title"><span>@server.HostName @server.IP</span></td></tr>
                }

                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(server.Icon))
                        {
                            <img src="@server.Icon" alt="@server.Label" />
                        }
                    </td>
                    <td class="host">@server.Label</td>
                    <td style="font-weight: bold; color: @(server.IsServerUp ? "green" : "red")">@(server.IsServerUp ? "UP" : "DOWN")</td>
                    <td>
                        @if (!server.IsServerUp)
                        {
                            <form style="display: inline" asp-route-mac="@server.MAC" asp-route-mode="start" method="post">
                                <button class="btn btn-success shadow-none">Start</button>
                            </form>
                        }
                        else if (@server.Port != 0)
                        {
                            <form style="display: inline" asp-route-ip="@server.IP" asp-route-port="@server.Port" asp-route-mode="stop" asp-route-serviceLabel="wol" method="post">
                                <button class="btn btn-danger shadow-none" onclick="return confirm('Stop \'@server.Label\' ?')">Stop</button>
                            </form>
                        }
                        else
                        {
                        }
                    </td>
                </tr>

                @if (server.Port != 0)
                {
                    <tr>
                        <td>
                            <img src="/wol.png" alt="wol" />
                        </td>
                        <td class="api">API 'WakeOnLan'</td>
                        <td style="font-weight: bold; color: @(server.IsApiUp ? "green" : "red")">@(server.IsApiUp ? "UP" : "DOWN")</td>
                        <td>
                        </td>
                    </tr>
                    @foreach (var service in server.Services)
                    {
                        <tr>
                            <td>
                                @if (!string.IsNullOrEmpty(service.Icon))
                                {
                                    <img src="@service.Icon" alt="@service.Label" />
                                }
                            </td>
                            @if (string.IsNullOrEmpty(service.Link))
                            {
                                <td class="service">Service '@service.Label'</td>
                            }
                            else
                            {
                                <td class="service"><span>Service '</span><a href="@service.Link" target="_blank">@service.Label</a><span>'</span></td>
                            }
                            <td style="font-weight: bold; color: @(!service.IsUp.HasValue ? "orange" : service.IsUp.Value ? "green" : "red")">@(!service.IsUp.HasValue ? "LOADING" : service.IsUp.Value ? "UP" : "DOWN")</td>
                            <td>
                            @if (server.IsApiUp && service.OnDemand && service.IsUp.HasValue)
                            {
                                if (!service.IsUp.Value)
                                {
                                    <form style="display: inline" asp-route-ip="@server.IP" asp-route-port="@server.Port" asp-route-mode="start" asp-route-serviceLabel="@service.Label" method="post">
                                        <button class="btn btn-success shadow-none">Start</button>
                                    </form>

                                }
                                else
                                {
                                    <form style="display: inline" asp-route-ip="@server.IP" asp-route-port="@server.Port" asp-route-mode="stop" asp-route-serviceLabel="@service.Label" method="post">
                                        <button class="btn btn-danger shadow-none" onclick="return confirm('Stop \'@service.Label\' ?')">Stop</button>
                                    </form>
                                }
                            }
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
